body {
    margin: 0;
    padding: 0;
    background-color: #4d4d4d; 
    opacity: 0.8;
    color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

#imgAndTitle > #luffyh1 {
    position: relative;
    font-size: 15rem; 
    margin-bottom: 20px;
}

#imgAndTitle > #luffyh1 > #luffyImg {
    position: absolute;
    width: 70%;
    padding-left: 25%; 
}

span {
    width: 40%;
    font-size: 15px;
    color: #e3e3e3;
    position: relative;
    display: flex;
    text-align: center;
    margin-top: 20px; 
}
.navbar {
    position: relative;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    padding: 0.5rem 1rem;
    z-index: 1000;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
a {
    color: rgb(123, 123, 123);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #f7f7f7;
    text-transform:capitalize;
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em blue
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}
.nav-item{
    width: max-content;
    position: relative;
    cursor: pointer;
}
.nav-item::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: rgb(128, 128, 128);
    transition: 0.5s;
    transition-timing-function: ease;
    transform: scaleX(0);
}
.nav-item:hover::after{
    transform: scaleX(1);
}
.navbar-brand{
    width: 5%;
}
