body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #555;
    overflow: hidden;
}

#card {
    height: 90vh;
    width: 50vw;
    background: linear-gradient(hsl(0, 9%, 79%), hsl(26, 55%, 72%));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #c50000;
    margin: 0;
}

h2 {
    font-size: 18px;
    color: #757575;
    margin: 0;
}

p {
    font-size: 16px;
    color: #555;
    margin: 15px 0;
}

.runtime {
    font-weight: bold;
    color: #333;
}

img {
    position: relative;
    max-width: 100%;
    height: 45%;
    margin-top: 20px;
}
#actors{
    overflow:auto;
    height: 10vh;
}