
body {
    margin: 0;
    padding: 0;
    background-color: #6a6a6a; 
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 10px;
}
#the_form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
#page {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    text-align: center;
    margin-bottom: 20px; 
}

img {
    height: fit-content;
    max-width: 100%;
    height: auto;
}
button {
    background-color: #d90086; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: linear-gradient(hsl(0, 0%, 69%), hsl(0, 0%, 48%));
}
#navbar{
    background: linear-gradient(hsl(0, 0%, 0%),hsl(0, 0%, 47%), hsl(0, 0%, 0%));
    
}
.imgOne{
    height: 50vh;
}
.carousel-caption{
text-align: start;
padding-bottom:0;
bottom: 10%;
left: 2%;
}
.carousel-control-next, .carousel-control-prev {
    align-items: flex-end;
}
button:hover {
    background: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.carousel {
    width: 100%;
    height: 50vh;
    position: relative;
}
.w-100 {
    width: 100%;
    height: 100%;
}
.navbar {
    position: absolute;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    padding: 0.5rem 1rem;
    z-index: 1000;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
a {
    color: rgb(123, 123, 123);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #f7f7f7;
    text-transform:capitalize;
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em blue
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}
.carousel-caption{
    color: #440000;
}