.navbar {
    position: relative;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    padding: 0.5rem 1rem;
    z-index: 1000;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
a {
    color: rgb(123, 123, 123);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #f7f7f7;
    text-transform:capitalize;
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em blue
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}
#myfavorit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  
  .wishlist-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
  }
  #title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }

  #posterImg {
    max-width: 100%;
    height: auto;
  }